<!DOCTYPE html>
<html>
<head>
<title>Webpage</title>
<style>
	th td{
		padding:15px;
	}
</style>
</head>
<body style="text-align:center;">
	{% if data %}
		<h1>Payment to Workers</h1>
		<table style="width=100%;text-align:center;">
		<tr><th style="width:10%;">Payment Id</th><th style="width:20%;">Phone No</th><th style="width:40%;">Date & Time</th><th style="width:30%;">Amount</th>
		{% for i in data %}
		<tr>
		<td>{{ i.0 }}</td><td> {{ i.2 }} </td><td> {{ i.3 }}</td><td> {{ i.1 }}</td>
		{% endfor %}
		</table>
	{% else %}
		<h1> No Confirmed Orders </h1>
	{% endif %}
	<form action="/search/cleanPayment/">
	{% csrf_token %}
	<input type="submit" value="Clean all payments" style="margin-top:20px;">
	</form>
</body>
</html>