<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Webpage</title>
<link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'chg.js' %}"></script>
</head>
<body>
	<div id="main">
	<h1><div id="header"><font color='white'>Om Bricks</font></div></h1>
	<h4>ॐ नमः शिवाय </h4>
	</div>
	<ul>
		<li><a href="/search/about/">About Us</a></li>
		<li><a href="/search/rates/">Rates</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
	<img src="{% static 'brick.jpg' %}" height="300" width="550" id="image" alt="Images" onclick="change();"/>
	<div id="middle">
		<form method="post" action="/search/login/">
			{% csrf_token %}
			<input type="text" name="phone" id="email" size="25" placeholder="&nbsp Phone No" required /> <br/>
			<input type="password" name="password" size="25" id="password" placeholder="&nbsp Password" required /> <br/>
			<input type="submit" name="log in" value="Log In" id="log_in"/>
		</form>
		<h3>
			First deal on <font color="green">Om Bricks</font> ..?
		</h3>
		<p><a href="/search/sign_up/" font-family="none">Sign up </a>  here</p>
	</div>
	<footer class="footer">Quality is remembered long after the price is forgotten -<font color="green">Om Bricks</font></footer>
</body>
</html>
